.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

#contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.footer-logo {
  width: 35px;
  margin-left: 6px;
  margin-right: 6px;
}

a:link,
a:visited {
  text-decoration: none;
}
